/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800&family=Lato&family=Merriweather:wght@300&display=swap');

body {
  font-size: 1.5em;
  font-family: "Merriweather", serif;
}

main,
nav,
footer {
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2 {
  font-family: "Lato", sans-serif;
}

p {
  font-size: 0.8em;
  line-height: 1.4em;
}

nav {
  padding-top: 1em;
  padding-bottom: 1em;
}

nav a {
  margin-right: 15px;
  padding: 0.5em;
  font-family: "Lato", sans-serif;

}

/* color scheme */
body {
  background-color: #ddfcdf;
}

nav a {
  background: #078810;
  color: #ffecdb;
  border-radius: 0.15em;
}

/* homepage styles */
main.homepage h1 {
  font-size: 5em;
  font-family: "Bitter", "serif";
  padding-left: 40px;
  margin-bottom: 0;
}

main.homepage ul.description {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  padding-left: 40px;
  margin-top: 0;
}

nav.homepage a:first-of-type {
  margin-left: 40px;
}


@media screen and (max-width: 1100px) {
  main,
  nav,
  footer {
    max-width: 800px;
    margin: 0.5em auto;
  }
}

@media screen and (max-width: 800px) {
  main,
  nav,
  footer {
    max-width: 700px;
    margin: 0.5em auto;
  }
}

@media screen and (max-width: 480px) {
  main,
  nav,
  footer {
    max-width: 400px;
    margin: 0.5em;
  }
  
  body { 
    font-size: 1em;
  }

  ul { 
    font-size: 0.5em; 
  }
}
