body {
  font-size: 1.5em;
  background-color: white;
  font-family: sans-serif;
}

main,
nav,
footer {
  max-width: 1000px;
  margin: 0 auto;
}

nav a {
  padding-right: 15px;
}

/* homepage styles */
main.homepage h1 {
  font-size: 5em;
  padding-left: 40px;
  margin-bottom: 0;
}

main.homepage ul.description {
  list-style: none;
  font-size: 2em;
  padding-left: 40px;
  margin-top: 0;
}

nav.homepage a:first-of-type {
  padding-left: 40px;
}


@media screen and (max-width: 800px) {
  main,
  nav,
  footer {
    max-width: 700px;
    margin: 0.5em auto;
  }
}

@media screen and (max-width: 480px) {
  main,
  nav,
  footer {
    max-width: 400px;
    margin: 0.5em;
  }
  
  body { 
    font-size: 1em;
  }

  ul { 
    font-size: 0.5em; 
  }
}
